<ul *ngIf="errores?.length > 0" class="alert alert-danger">
  <li *ngFor="let error of errores">
    {{error}}
  </li>
</ul>
<div class="card bg-dark text-white">
  <div class="card-header">{{titulo}}</div>
  <div class="card-body">
    <form #clienteForm="ngForm">
      <div class="form-group row">
        <label for="" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)] = "cliente.nombre" name="nombre" #nombre="ngModel">
          <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
            <div *ngIf="nombre.errors.required">
              Nombre es requerido
            </div>
            <div *ngIf="nombre.errors.minlength">
              Nombre debe tener al menos 4 caracteres
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="" class="col-form-label col-sm-2">Apellido</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)] = "cliente.apellido" name="apellido" #apellido="ngModel">
          <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" class="alert alert-danger">
            <div *ngIf="apellido.errors.required">
              Apellido es requerido
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)] = "cliente.email" name="email" #email="ngModel">
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            <div *ngIf="email.errors.required">
              Email es requerido
            </div>
            <div *ngIf="email.errors.email">
              Email debe tener un formato válido
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="createAt" class="col-form-label col-sm-2">Fecha</label>
        <div class="col-sm-6">
          <input [matDatepicker]="myDatepicker"  class="form-control" [(ngModel)] = "cliente.createAt" name="createAt" #createAt="ngModel" style="display: inline;width: 90%;">
          <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
          <div *ngIf="createAt.invalid && (createAt.dirty || createAt.touched)" class="alert alert-danger">
            <div *ngIf="createAt.errors.required">
              Fecha es requerido
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="region" class="col-form-label col-sm-2">Region</label>
        <div class="col-sm-6">
          <select [compareWith]="compareRegion" class="form-control" [(ngModel)] = "cliente.region" name="region" #region="ngModel" style="display: inline;width: 90%;">
            <option [ngValue] = "undefined">--- seleccionar una region ---</option>
            <option *ngFor="let region of regiones" [ngValue]="region">{{region.nombre}}</option>
          </select>
          <div *ngIf="region.invalid && (region.dirty || region.touched)" class="alert alert-danger">
            <div *ngIf="region.errors.required">
              Region es requerido
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-2">
          <button class="btn btn-primary" (click)="create()" *ngIf="!cliente.id else elseBlock" [disabled]="!clienteForm.form.valid">Crear</button>

          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)="update()" [disabled]="!clienteForm.form.valid">Editar</button>
          </ng-template>
        </div>
        <div class="col-sm-2">
          <button class="btn btn-danger" (click)="backList()">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>
